.content {
    width: calc(100vw - 200px);
    height: 100vh;
    margin-left: 200px;
    padding: 1em;
    background-color: aliceblue;
    box-sizing: border-box;
}

.profile {
    display: flex;
    width: 100%;
    padding: .8em;
    margin-top: 1em;
    background-color: #FFF;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 25px -15px #000;
}


.profile__avatar {
    display: flex;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    cursor: pointer;
}

.profile__avatar input {
    display: none;
}

.profile__avatar span {
    margin: 0;
    z-index: 99;
    position: absolute;
    opacity: .7;
    transition: .5s;
}

.profile__avatar:hover span {
    opacity: 1;
    transform: scale(1.4);
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__form img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.profile__form label {
    margin-bottom: .5em;
    font-size: 1.4em;
}

.profile__form input, textarea, select {
    width: 400px;
    max-width: 600px;
    margin-bottom: 2em;
    padding: .7em;
    border: 1px solid #d8d5e6;
    border-radius: 5px;
}

.profile__form input:disabled {
    cursor: not-allowed;
}

.profile__botao {
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: #181c2e;
    color: aliceblue;
}