.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #181c2e;
    overflow: auto;
}

.sidebar__avatar {
    width: 100px;
    padding: 2.5px;
    margin: 40px auto;
    background-color: aliceblue;
    border-radius: 50%;
}

.sidebar__avatar img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

.sidebar__link {
    display: flex;
    padding: 1.3em;
    align-items: center;
    text-decoration: none;
    transition: .35s;
}

.sidebar__link:hover {
    background-color: #0d101e;
}

.sidebar__link-texto {
    margin-left: 1em;
}

.sidebar__sair {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.3em;
    color: aliceblue;
    background-color: transparent;
    border: none;
    align-items: center;
    text-align: left;
    font-size: 16px;
    transition: .35s;
}

.sidebar__sair:hover {
    background-color: #0d101e;
}